/*Menu connexion */
.Pane{
	-fx-background-color: ebebeb;
}

.button{
	-fx-font: 14px "Helvetica";
}

#BtnConnexion{
	-fx-background-color:  #523d87;
	-fx-text-fill: white;
}

#BtnConnexion:hover{
	-fx-background-color:  #7253bf;
    	-fx-text-fill: white;
}
#BtnQuitter, #BtnMdpLost{
	-fx-background-color: transparent;
	-fx-text-fill: #523d87
}

#BtnQuitter:hover, #BtnMdpLost:hover{
	-fx-text-fill:#7253bf;
}

#LblFermerSetting:hover{
	-fx-text-fill:red;
}

#BtnModifierEtudiant, #BtnAjouterEtudiant, #BtnSupEtudiant, #BtnContinueMsg, #BtnAjouterEnseignant, #BtnModifierEnseignant, #BtnSupEnseignant, #BtnModifEnseignant,  #BtnAjoutEnseignant, #BtnModifEtudiant, #BtnCancelEtudiant, #BtnAjoutEtudiant, #BtnSupCours, #BtnAjouterCours, #BtnModifierCours, #BtnAjoutCours, #BtnCancelCours,
#BtnModifCours, #BtnSupProgramme, #BtnAjouterProgramme, #BtnModifierProgramme, #BtnAjoutProgramme, #BtnModifProgramme, #BtnAssignerCoursProgramme, #BtnAjouterCoursAuProgramme, #BtnInscription,
#BtnAjouterEtudiantCour, #BtnAssignerProgramme, #BtnProgEtuAjout, #BtnAjouterExam, #BtnAjouterExamen, #BtnAfficherExamen, #BtnModifierExam, #BtnSupprimerExam, #BtnAfficherExamenCours, #BtnSupprimerComEtudiant,
#BtnAssignerProgEns, #BtnAjoutCourEns, #BtnNotifLu, #BtnNotifNonLu, #BtnNotifSup, #BtnNotifAfficher{
	-fx-font: 14px "Helvetica";
    -fx-padding: 5;
    -fx-text-fill:white;
   	-fx-transition-duration: 0.9s;
   	-fx-background-radius: 3px;
   	-fx-border-radius: 3px;
   	-fx-background-color:  #523d87;
}

#BtnModifierEtudiant:hover, #BtnAjouterEtudiant:hover, #BtnSupEtudiant:hover, #BtnContinueMsg:hover,#BtnAjouterEnseignant:hover, #BtnModifierEnseignant:hover,
#BtnSupEnseignant:hover, #BtnModifEnseignant:hover, #BtnAjoutEnseignant:hover, #BtnModifEtudiant:hover, #BtnCancelEtudiant:hover, #BtnSupCours:hover,
#BtnAjoutEtudiant:hover, #BtnAjouterCours:hover, #BtnModifierCours:hover, #BtnAjoutCours:hover, #BtnCancelCours:hover, #BtnModifCours:hover, #BtnSupProgramme:hover, #BtnAjouterProgramme:hover,
#BtnModifierProgramme:hover, #BtnAjoutProgramme:hover, #BtnModifProgramme:hover, #BtnAssignerCoursProgramme:hover, #BtnAjouterCoursAuProgramme:hover, #BtnInscription:hover, #BtnAjouterEtudiantCour:hover,
#BtnAssignerProgramme:hover, #BtnProgEtuAjout:hover, #BtnAjouterExam:hover, #BtnAjouterExamen:hover, #BtnAfficherExamen:hover, #BtnModifierExam:hover, #BtnSupprimerExam:hover, #BtnAfficherExamenCours:hover,
#BtnSupprimerComEtudiant:hover, #BtnAssignerProgEns:hover, #BtnAjoutCourEns:hover, #BtnNotifLu:hover, #BtnNotifNonLu:hover, #BtnNotifSup:hover, #BtnNotifAfficher:hover{
	-fx-font: 14px "Helvetica";
    -fx-padding: 5;
    -fx-text-fill:white;
   	-fx-transition-duration: 0.9s;
   	-fx-background-radius: 3px;
   	-fx-border-radius: 3px;
   	-fx-background-color:   #2d1c58;
}

#BtnCancelProgramme, #BtnRetourEtuProg, #BtnSupProgEtu, #BtnRetourEtuCour, #BtnRetourExamen, #BtnCancelEnseignant, #BtnAnnulerComEtudiant, #BtnSupCoursEns, #BtnPrecedentNotif{
	-fx-font:14px "Helvetica"; 
	-fx-background-color: transparent;
	-fx-text-fill: #523d87;
}

#BtnCancelProgramme:hover, #BtnRetourEtuProg:hover, #BtnSupProgEtu:hover, #BtnRetourEtuCour:hover, #BtnRetourExamen:hover, #BtnCancelEnseignant:hover, #BtnAnnulerComEtudiant:hover, #BtnSupCoursEns:hover, 
#BtnPrecedentNotif:hover{
	-fx-text-fill: #2d1c58;
}

#TbUser, #TbMDP, #TbEmail, #TbTel, #TbProvince, #TbCodePostal, #TbVille, #TbAdresse, #TbNom, #TbPrenom, #TbTitreCours, #TbDescriptionCours, #TbTitreAngCours, #TbDescriptionAngCours, #TbCoutCours, #TbTempsCours,
#TbCreditCours{
	-fx-background-color : transparent;
}
/*Menu Accueil */
#BtnAcueil,#BtnEtudiant, #BtnEnseignant, #BtnCour, #BtnProgramme,  #BtnResultat, #BtnFrais{
	-fx-font: 14px "Helvetica";
    -fx-padding: 5;
    -fx-text-fill:white;
   	-fx-transition-duration: 0.9s;
   	-fx-background-radius: 5px;
   	-fx-border-radius: 5px;
   	-fx-background-color:  #523d87;
}
#BtnAcueil:hover,#BtnEtudiant:hover, #BtnEnseignant:hover, #BtnCour:hover, #BtnProgramme:hover, #BtnResultat:hover, #BtnFrais:hover{
	-fx-background-color:  #7253bf;
    	-fx-text-fill: white;
}
.chart-bar {
    -fx-bar-fill:  #e85917;
    -fx-background-color: linear-gradient(derive(-fx-bar-fill,-30%), derive(-fx-bar-fill,-40%)),
                          linear-gradient(derive(-fx-bar-fill,80%), derive(-fx-bar-fill, 0%)),
                          linear-gradient(derive(-fx-bar-fill,30%), derive(-fx-bar-fill,-10%));
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
}

#PaneCour, #PaneEtudiant, #PaneEnseignant, #PaneProgramme{
	-fx-border-color: black;
}

/*Table view */
.table-view{
	-fx-border-color: gray;
	-fx-background-radius: 10px 10px 10px 10px;
	-fx-border-radius: 6px 6px 6px 6px;
	
}

 .table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {   
    -fx-background-color: lightgray;
    -fx-stroke: transparent;
    -fx-size:50;
    -fx-alignment: CENTER ;    
    -fx-text-alignment: center;
    
}

.table-row-cell:filled:hover {
	
    -fx-size:50;
    -fx-alignment: CENTER;
    -fx-text-alignment: center;


}
.table-view:row-selection {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-fixed-cell-size: 50;
    -fx-alignment: CENTER;
    -fx-text-alignment: center;
}

.table-view .table-column{
    -fx-text-alignment: center;
    -fx-alignment: CENTER; 

}

.check-box .box {

-fx-background-color: white;
-fx-border-color:grey;
-fx-border-radius:3px; 

}

.check-box:selected .mark {

-fx-background-color: white;

}

.check-box:selected .box {

-fx-background-color: #7253bf;
}

#ImgCloseNotif{
	-fx-image: url(Photos/XMauve.png);
}

#ImgCloseNotif:hover{
	-fx-image: url(Photos/XMauveHover.png);
}

#ImgFlecheGauche{
	-fx-image: url(Photos/LeftArrow24.png);
}
#ImgFlecheGauche:hover{
	-fx-image: url(Photos/LeftArrow24lite.png);
	
}

#ImgFlecheDroite{
	-fx-image: url(Photos/RightArrow24.png);
}
#ImgFlecheDroite:hover{
	-fx-image: url(Photos/RightArrow24lite.png);
	
}

#FlecheDroiteOrange{
	-fx-image: url(Photos/DroitOrange.png);
}
#FlecheDroiteOrange:hover{
	-fx-image: url(Photos/DroitOrangeHover.png);
}
#FlecheGaucheOrange{
	-fx-image: url(Photos/GaucheOrange.png);
}
#FlecheGaucheOrange:hover{
	-fx-image: url(Photos/GaucheOrangeHover2.png);
}

#ImgClose{
	-fx-image: url(Photos/XNoir50.png);
}

#ImgClose:hover{
	-fx-image: url(Photos/XRed50.png);
}

#ImgMini{
	-fx-image: url(Photos/moins50.png);
}

#ImgMini:hover{
	-fx-image: url(Photos/moinsGray50.png);
}

.list-view {
    -fx-background-color:  #523d87;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.list-view .list-cell:hover {
    -fx-background-color:  #2d1c58;
}

.list-view .list-cell:selected {
    -fx-background-color:  #2d1c58;
}

.list-view .list-cell {
    -fx-background-color: #523d87;
    -fx-text-fill: white;
}

.list-view .label {
    -fx-text-fill: white;
}

.jfx-rippler {
    -jfx-rippler-fill: red;
}